.clear {
  color: rgba(255, 255, 255, 0);
  line-height: 5px;
  height: 10px; }

.pizzaTitle {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px; }

.GF {
  color: white;
  font-weight: 800;
  line-height: 5px;
  height: 10px; }

.pizzaShow {
  top: 100px;
  width: 100%;
  margin: 10px auto;
  position: absolute;
  text-align: center;
  z-index: 1200;
  margin-bottom: 30px; }

.pizzas {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 5px; }

.pizzas-gf {
  background: #de6485;
  height: 125px;
  width: 125px;
  display: inline-block;
  margin: 5px; }

.fa-angle-down, .fa-angle-up {
  font-size: 24px;
  color: #DF4A39;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%); }

.row {
  margin-bottom: 15px; }

.textTop {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  margin-left: 50%;
  width: 160px;
  transform: translateX(-50%); }

.top-img {
  height: 140px;
  margin-left: 50%;
  transform: translateX(-50%); }

#toppings {
  margin-top: 360px; }
