.pizzaShow {
  top: 100px;
  width: 100%;
  margin: 10px auto;
  position: absolute;
  text-align: center;
  z-index: 1200;
  margin-bottom: 10px; }

.pizzas {
  background: #dec285;
  height: 125px;
  width: 125px;
  display: inline-block;
  margin: 5px; }

.pizzas-gf {
  background: #de6485;
  height: 125px;
  width: 125px;
  display: inline-block;
  margin: 5px; }

.fa-angle-down, .fa-angle-up {
  font-size: 24px;
  color: #DF4A39;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%); }

.gf {
  display: none;
  transition: 1s; }

.show-gf {
  width: 300px;
  cursor: pointer; }

.textTop {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%); }

.top-img {
  height: 150px;
  margin-left: 50%;
  transform: translateX(-50%); }

#toppings {
  margin-top: 300px; }
