.closedLocation {
  display: none; }

.openedLocation {
  margin: 0 auto;
  z-index: 1200; }

.unit {
  margin-top: 160px; }

#map {
  margin: 0 auto;
  margin-bottom: 10px;
  min-height: 400px;
  width: 100%; }

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  transform: translate(10%);
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 500px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none; }

#popheader {
  font-size: 25px; }

.popupK {
  background: #ffdb3a;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  text-decoration: none; }

.popupC {
  background: #10FFC6;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  text-decoration: none; }

.popupW {
  background: #f38125;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  text-decoration: none; }

.btnLocation {
  background: #00c0ff;
  text-align: center;
  border-radius: 13px;
  margin-bottom: 5px;
  border: none; }

.btnLocation:hover {
  background: white; }

#help {
  margin-left: 20px;
  margin-bottom: 0;
  padding: 5px 0;
  width: 100%;
  color: white; }

#get_location {
  display: inline-block;
  background: #0051ff;
  color: white;
  border: none;
  min-width: 150px;
  max-width: 150px;
  height: 40px;
  margin-left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 8px;
  border-radius: 18px;
  cursor: pointer; }

.closeMap {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 140px;
  border-radius: 50%;
  font-size: 30px;
  background: #e40d0d;
  color: white;
  cursor: pointer; }

.closeMap:hover {
  background: #b10f0f;
  color: #bababa; }

#get_location:hover {
  color: #353535;
  box-shadow: 0 2px 20px #101010;
  text-decoration: none; }

.store {
  display: flex;
  position: absolute;
  justify-content: space-around;
  margin-top: 30px;
  height: 150px;
  width: 60%; }

.storePicture {
  height: 130px;
  border-radius: 50%; }
