.carousel {
  margin-top: 40px;
  height: 200px; }

.newChild {
  height: 500px;
  width: 100%;
  display: inline-block; }

.logo {
  display: inline-block;
  height: 150px;
  margin-left: 50%;
  margin-top: 50px;
  transform: translate(-50%); }

.col-lg {
  height: 250px;
  min-width: 100px;
  margin: 1px;
  text-align: center; }

.logo-inner {
  height: 150px;
  margin-top: 50%;
  transform: translateY(-50%);
  transition: 0.5s; }

.logo-inner:hover {
  height: 200px;
  transition: 0.5s; }
