.navOpened {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  background: #0D0D12;
  z-index: 1600;
  transition: .6s ease-in; }

.navClosed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -500px;
  width: 500px;
  background: #0D0D12;
  z-index: 1600;
  transition: .6s ease-in; }

.sideLinkOpened {
  list-style-type: none;
  height: 70px;
  background: #e85100;
  margin: 3px 0px;
  line-height: 70px;
  padding-left: 10px; }

.sideImage {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 170px;
  width: 170px; }

.navRightOpened {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 500px;
  right: 0;
  width: 100vw;
  background: #bdc3c789;
  z-index: 1500;
  transition: .8s ease-in;
  cursor: pointer; }

.navRightClosed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: -100vw;
  width: 100vw;
  background: #bdc3c700;
  z-index: 1500;
  transition: .8s linear; }

.wrapper {
  width: 400px;
  margin: 5% auto; }

.content {
  background: #101010;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px; }

.date, .time {
  text-align: center;
  color: #bdc3c7;
  font-weight: 300;
  font-size: 1.5em;
  padding: 10px; }

.time {
  font-size: 3em; }
