.centerX {
  transform: translateX(-50%);
  margin-left: 50%; }

.centerY {
  transform: translateY(-50%);
  top: 50%; }

.transition {
  transition: 1s; }

::-webkit-scrollbar {
  display: none; }

body {
  height: 2000px;
  background: #0F1222;
  margin: 0 auto; }

a {
  color: black;
  margin: 0;
  cursor: pointer; }

a:active {
  color: grey; }

a:hover {
  color: black;
  text-decoration: none; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
