$navbar-color: rgb(16, 16, 16);
$pepis-orange: #DF4A39;
$nav-bg: #0D0D12;
$blue-button: rgb(0, 81, 255);

.header {
    height: 180px;
    width: 100%;
}

//Logo
.pepisLogo {
    position: absolute;
    width: 55%;
    min-width: 550px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 3s linear;
    z-index: 1400;
}
.celebrateLogo {
    position: absolute;
    height: 60px;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 3s linear;
    z-index: 1400;
}

